body {
  margin: 0;
  padding: 0;
}

.container {
    overflow: auto;
    overflow-anchor: right;
    display: flex;
    background-color: #6699cc;
    width: 60%;
    position: absolute;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    align-content: flex-start;
    margin-left: 20%;
    top: 0;
    bottom: 0;
  }

  .container::-webkit-scrollbar{
    display: none;
  }

.ads {
    position: absolute;
    margin-left: 80%;
    background-color: aqua;
    width: 20%;
    top: 0;
    bottom: 0;
}


.sidebar {
    position:absolute;
    width: 20%;
    border-top: none;
    background-color: aqua;
    display: block;
    top: 0;
    bottom: 0;
  }
  

  .sidebar button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .sidebar button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .sidebar button.active {
    background-color: #ccc;
  }

  .ads .card{
    padding: 10px;
  }

  .ads{
    text-align: center;
 }

 .flex-item{
    margin: 10px 0px;
    width: 25vh;
    background-color: white;
    border-radius: 5px;
 }

 .flex-item img{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
 }

 h3 {
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 p {
  text-align: start;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;

 }

 .form{
  height: 250px;
  width: 350px;
  padding: 5x;
  background-color: teal;
 }